@import 'vendor/normalize';
@import 'base';

/* ==========================================================================
   Hero
   ========================================================================== */
.hero {
    background-image: url("../img/about/bg.png");
    min-height: 500px;
    @media screen and (max-width: $media-phone) {
        min-height: 300px;
    }
    .content {
        h1 {
           margin-bottom: 1rem;
        }
    }
}



/* ==========================================================================
   Project
   ========================================================================== */
.project {
    & p {
        text-align: left;
    }
    & .logo {
        width: 180px;
        @media screen and (max-width: $media-phone) {
            display: none;
        }
    }
}



/* ==========================================================================
   Team
   ========================================================================== */

.team {
    img {
        width: 200px;
        height: 200px;
        @media screen and (max-width: $media-tablet) {
            width: 150px;
            height: 150px;
        }
        @media screen and (max-width: $media-phone) {
            margin: auto;
        }
    }

    & >:last-child {
        margin-top: 5rem;
        padding: 0 15%;
        @media screen and (max-width: $media-tablet) {
            padding: 0;
            margin-top: 0;
        }
    }

    .team-container {
        .team-member {
            @media screen and (max-width: $media-phone) {
                display: block;
                margin-bottom: 3rem;
            }

            .description {
                @media screen and (max-width: $media-phone) {
                    text-align: center;
                }

                p {
                    margin: 0;
                }

                .name {
                    font-family: ApercuBold;
                }

                .role {
                    font-family: ApercuItalic;
                    font-size: 1rem;
                }

                .bio {
                    font-family: ApercuLight;
                    margin-top: 10px;
                    font-size: 1rem;
                    max-width: 270px;
                    @media screen and (max-width: $media-tablet) {
                        max-width: 100%;
                        width: 100%;
                    }
                }
            }
        }
    } // end of team-container
}

.mhci {
    & img {
        width: 200px;
        @media screen and (max-width: $media-phone) {
            margin: 0 auto;
        }
    }
}
