/* ==========================================================================
  Variables
  ========================================================================== */
$media-phone: 479px;
$media-tablet: 800px;
$media-desktop: 1200px;

$main-color: #32C0CE;
$hero-color: #3EB0BD;
$shade-color: #F8F8F8;
$black-color: #4A4A4A;

$transition-duration: 0.5s;

/* ==========================================================================
   Font
   ========================================================================== */
@font-face {
   font-family: ApercuBold;
   src: url(../font/Apercu/Apercu-Bold.otf);
}

@font-face {
   font-family: ApercuMedium;
   src: url(../font/Apercu/Apercu-Medium.otf);
}

@font-face {
    font-family: ApercuRegular;
    src: url(../font/Apercu/Apercu-Regular.otf);
}

@font-face {
   font-family: ApercuItalic;
   src: url(../font/Apercu/Apercu-Italic.otf);
}


@font-face {
   font-family: ApercuLight;
   src: url(../font/Apercu/Apercu-Light.otf);
}


h1 {
    font-family: ApercuBold;
}

.font-heavy {
    font-family: ApercuBold;
}

/* ==========================================================================
   Logo
   ========================================================================== */
.logo {
    width: 30px;
}


/* ==========================================================================
   Components
   ========================================================================== */
* {
    color: $black-color;
    font-family: ApercuRegular;
}

.shading {
    background: $shade-color;
}
.btn {
    color: $black-color;
    text-transform: none;
    font-size: 1.1rem;
    background-color: #fff;
    border: solid 2px $shade-color;
    border-radius: 12px;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.1);
    transition: 0.5s;

    &:hover {
        color: $black-color;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
}
.img-responsive {
    display: block;
    width: 100%;
    // max-width: 100%;
    // height: auto;
}

.half-parent {
    display: flex;
    flex-direction: row;
    @media screen and (max-width: $media-phone) {
        display: block;
    }

    .half-item {
        &:nth-of-type(1) {
            padding-right: 10%;
            @media screen and (max-width: $media-phone) {
                padding: 0;
            }
        }

        & h1, p {
            text-align: left;
        }
    }

    .img {
        align-self: center;
    }
}

.multi-parent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // padding: 0 10%;
    // margin-top: 2rem;

    @media screen and (max-width: $media-tablet) {
        display: block;
    }

    .multi-item {
        text-align: center;

        @media screen and (max-width: $media-tablet) {
            margin-bottom: 2rem;
        }

        img {
            // width: 50%;
            margin-bottom: 1rem;
        }
    }
}


.half-bg {
    background-position: center;
    background-repeat: no-repeat;

    .half-bg-content {
        text-align: left;
        width: 50%;
        @media screen and (max-width: $media-phone) {
            width: 100%;
        }
    }
}


.media-desktop-only {
    @media screen and (max-width: $media-phone) {
        display: none;
    }
}

.media-phone-only {
    @media screen and (min-width: $media-phone) {
        display: none;
    }
    @media screen and (max-width: $media-phone) {
        display: inherit;
    }
}

/* ==========================================================================
   Section
   ========================================================================== */
.section {
    text-align: center;
    padding: 5rem 10%; // 5rem 8rem

    & h1 {
        margin-bottom: 4rem;
        @media screen and (max-width: $media-phone) {
            font-size: 2rem;
        }
    }

    & p {
        font-family: ApercuLight;
        font-size: 1.3rem;
        @media screen and (max-width: $media-tablet) {
            font-size: 1rem;
        }
    }

    .btn {
        display: block;
        margin: auto;
        margin-top: 2rem;
        width: 10rem;
        position: relative;
        padding-left: 3.5rem;

        .material-icons {
            position: absolute;
            left: 1.5rem;
            bottom: 0.7rem;
        }
    }

    // first section - adds offset for navbar
    &:first-of-type {
        padding-top: 12%;
        @media screen and (max-width: $media-tablet) {
            padding-top: 20%;
        }
        @media screen and (max-width: $media-phone) {
            padding-top: 30%;
        }
    }
}
.section > :first-child {
    margin-top: 0;
}
.section > :last-child {
    margin-bottom: 0;
}


/* ==========================================================================
   Navbar
   ========================================================================== */
.mainnav {
    display: flex;
    padding: 0 5rem;
	position: fixed;
	z-index: 10;
	width: 100%;
    background-color: transparent;
    // -webkit-transition: background-color $transition-duration; /* Safari */
    // transition: background-color $transition-duration;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    @media screen and (max-width: $media-phone) {
        padding: 0 0;
    }
}

.mainnav-colored {
    background-color: $hero-color;
    -webkit-transition: background-color $transition-duration; /* Safari */
    transition: background-color $transition-duration;
}

.nav-logo {
    margin: 1rem;
    color: #fff;
}
.navbar-toggler {
    margin: 0.7rem;
}
.mainnav-links {
	margin: 1rem;
    margin-left: auto;
    // @media screen and (max-width: $media-phone) {
    //     margin: 0.2rem;
    //     font-size: 0.7rem;
    // }
}
.mainnav-button, .nav-logo {
	display: inline-block;
	padding: 1rem 2.5rem;
	font-size: 1rem;
}
.mainnav-button {
    @media screen and (max-width: $media-phone) {
        display: block;
    }
}
.navbar-collapse {
    @media screen and (max-width: $media-phone) {
        background-color: $hero-color;
    }
}
.mainnav-link,
.mainnav-link:focus,
.mainnav-link:visited {
	color: #FFF;
}
.mainnav-link:hover {
	color: lighten($main-color, 30%);
}


/* ==========================================================================
   Hero
   ========================================================================== */
.hero {
    position: relative;
    text-align: left;
    background-position: center bottom;
    background-image: url("../img/index/bg.png");
    background-size: cover;
    min-height: 300px;
    @media screen and (max-width: $media-phone) {
        min-height: 300px;
    }

    .content {
        width: 60%;

        h1 {
            font-size: 3rem;
            margin-bottom: 3rem;
        }

        h1, h3, p {
            color: #fff;
        }

        p {
            font-family: ApercuRegular;
            width: 80%;
            @media screen and (max-width: $media-tablet) {
                width: 100%;
            }
        }

        @media screen and (max-width: $media-tablet) {
            text-align: center;
            width: 100%;
            p {
                width: 100%;
            }
        }
    }
}



/* ==========================================================================
   Footer
   ========================================================================== */
.footer {
    padding: 2rem 10%;
    color: #fff;
    text-align: center;
    background-color: #2A2A2A;

    & .logo {
        margin-bottom: 0.5rem;
    }

    & p {
        color: #fff;
    }

    & p:last-child {
        margin: 1rem 0 0 0;
        color: #8F8F8F;
    }
}
