@import 'vendor/normalize';
@import 'base';

/* ==========================================================================
   Hero
   ========================================================================== */
.hero {
   position: relative;
   min-height: 600px;
   background-position: center bottom;
   background-image: url("../img/index/bg.png");

   .content {
       width: 60%;

       h1 {
           margin-bottom: 0.5rem;
       }

       h1, h3, p {
           color: #fff;
       }

       p {
           font-family: ApercuLight;
           width: 80%;
           margin-top: 3rem;
       }

       @media screen and (max-width: $media-tablet) {
           text-align: center;
           width: 100%;
           p {
               width: 100%;
           }
       }
   }

   .img {
       background-image: url(../img/index/hero.png);
       background-repeat: no-repeat;
       background-position: center;
       background-size: auto 100%;

       height: 500px;
       position: absolute;
       top: auto;
       right: auto;
       bottom: 0;
       left: 0;
       width: 100%;
       z-index: 1;

       @media screen and (max-width: $media-tablet) {
           background-image: url(../img/index/hero-small.png);
           height: 214px;
           left: 0;
       }
    }
}

/* ==========================================================================
   Problem & Solution
   ========================================================================== */
.problem, .solution {
    text-align: center;
}

.problem {
    p {
        padding: 0 20%;
        @media screen and (max-width: $media-tablet) {
            padding: 0;
        }
    }
}

.solution {
    .multi-parent .multi-item {
        img {
            width: 80px;
        }
        width: 30%;
        @media screen and (max-width: $media-tablet) {
            width: 100%;
        }
    }
}

.process {
    h1 {
        text-align: center;
    }

    .half-parent {
        .img {
            img {
                min-width: 300px;
            }
        }
    }
}
