@import 'vendor/normalize';
@import 'base';

/* ==========================================================================
   Hero
   ========================================================================== */
.hero {
    background-image: url("../img/process/bg.png");
    min-height: 500px;
    @media screen and (max-width: $media-phone) {
        min-height: 300px;
    }
    .content {
        h1 {
           margin-bottom: 1rem;
        }
    }
}


/* ==========================================================================
   Interview
   ========================================================================== */
.interview {
    .multi-parent {
        .multi-item {
            width: 30%;
            @media screen and (max-width: $media-phone) {
                width: 100%;
            }

            & img {
                width: 250px;
            }
        }
    }
}
