@import 'vendor/normalize';
@import 'base';

/* ==========================================================================
   Offset
   ========================================================================== */
.feature  {
    padding-bottom: 2%;
    @media screen and (max-width: $media-phone) {
        padding-bottom: 10%;
    }

    h1 {
        margin-bottom: 0;
    }
}

/* ==========================================================================
   Hero
   ========================================================================== */
.hero {
    background-image: url("../img/solution/bg.png");
    min-height: 500px;
    @media screen and (max-width: $media-phone) {
        min-height: 300px;
    }
    .content {
        h1 {
           margin-bottom: 1rem;
        }
    }
}

/* ==========================================================================
   Highlight
   ========================================================================== */
.highlight {
    & .half-item {
        align-self: center;
        img {
            max-width: 300px;
            border-radius: 5px;
            @media screen and (max-width: $media-phone) {
                margin-bottom: 1.5rem;
            }
        }
    }

    .half-parent {
        margin-bottom: 4rem;
    }

    .multi-parent {
        @media screen and (max-width: $media-phone) {
            margin-top: 0;
        }

        .multi-item {
            width: 30%;
            @media screen and (max-width: $media-tablet) {
                width: 100%;
            }

            & img {
                max-width: 80px;
            }
        }
    }
}

/* ==========================================================================
   Testimonial
   ========================================================================== */
.testimonial {
    padding: 5rem 20%;

    & .quote p {
        font-family: ApercuRegular;
    }

    & img {
        max-width: 100px;
    }

    .half-parent {
        justify-content: flex-end;
        @media screen and (max-width: $media-phone) {
            display: flex;
        }

        .half-item {
            align-self: center;
            p {
                margin: 0;
                &:nth-of-type(1) {
                    font-family: ApercuBold;
                }
            }
        }
        .half-item:nth-of-type(1) {
            padding-right: 3%;
        }
    }
}


/* ==========================================================================
   Feature
   ========================================================================== */
.feature {
    .header {
        .half-parent {

            justify-content: center;
            img {
                height: 60px;
                padding-right: 2rem;
                @media screen and (max-width: $media-phone) {
                    display: none;
                }
            }
            h1 {
                margin: 0;
                padding: 0;
                align-self: center;
            }
        }
    }
    .feature-container {
        .content {
            align-self: center;

            .pickup {
                margin-bottom: 8rem;
                @media screen and (max-width: $media-phone) {
                    margin-bottom: 2rem;
                }
                h1 {
                    font-size: 1.5rem;
                    margin: 0 0 1rem 0;
                    text-align: left;
                }
                p {
                    font-size: 1rem;
                }
                h1, p {
                    @media screen and (max-width: $media-phone) {
                        text-align: center;
                    }
                }
            }
        }

        .phone {
            video, img {
                width: 100%;
            }

            box-sizing: border-box;
            background: url("../img/placeholder/phone.png") center center no-repeat;
            background-size: contain;
            padding: 48% 6% 46% 7%;
            max-width: 350px;
            min-width: 250px;
        }
    }
}

/* ==========================================================================
   Prototype
   ========================================================================== */
.prototype {
    h1 {
        margin-bottom: 1rem;
    }
    iframe {
        width: 100%;
        min-height: 800px;
        margin-top: 3rem;
        border: none;
        @media screen and (max-width: $media-phone) {
            min-height: 600px;
        }
    }
    @media screen and (max-width: $media-phone) {
        padding-left: 5%;
        padding-right: 5%;
    }
}
