<nav class="mainnav">
    <!-- <a href="../index.html"></a><img src="" alt="" class="nav-logo"></a> -->
    <a href="../index.html"> <p class="nav-logo">Phidelity</p> </a>
    <ul class="mainnav-links">
        <li class="mainnav-button">
            <a class="mainnav-link" href="../index.html">Home</a>
        </li>
        <li class="mainnav-button">
            <a class="mainnav-link" href="../product.html">Product</a>
        </li>
        <li class="mainnav-button">
            <a class="mainnav-link" href="../process.html">Process</a>
        </li>
        <li class="mainnav-button">
            <a class="mainnav-link" href="../about.html">About</a>
        </li>
    </ul>
</nav>
