<nav class="mainnav navbar navbar-toggleable-md navbar-inverse bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a href="../index.html"> <p class="nav-logo">Vivid</p> </a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="mainnav-links">
            <li class="mainnav-button">
                <a class="mainnav-link" href="../index.html">Home</a>
            </li>
            <li class="mainnav-button">
                <a class="mainnav-link" href="../solution.html">Solution</a>
            </li>
            <li class="mainnav-button">
                <a class="mainnav-link" href="../process.html">Process</a>
            </li>
            <li class="mainnav-button">
                <a class="mainnav-link" href="../about.html">About</a>
            </li>
        </ul>
    </div>
</nav>
